<hr/>
<div class="container">
  <h4>{{title}}</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc venenatis magna quis laoreet laoreet. Nulla at metus malesuada, egestas enim sed, fermentum sem. Nunc quam neque, sodales ullamcorper erat ac, bibendum interdum velit. Donec et diam quis sem tincidunt euismod vitae sed velit. Duis faucibus, sem ut rutrum vehicula, massa quam tristique risus, at mollis ligula enim fermentum eros. Nullam eget est ac sem egestas mollis. Fusce ultricies dui non dapibus semper.
  <img class="" src="assets/biblio.jpg" alt="library photo">
</div>