

<div class="container mt-3">
    <h3>{{title}}</h3>
  <div class="card float-left mb-3 ml-3" *ngFor="let item of items; let i = index" style="width: 12rem;">
      <img  src="{{item.img}}" alt="book info" class="card-img-top">
      <div class="card-body">
          <h5>{{item.title}}</h5>
          <p>{{item.author}}</p>
          <h4><strong>{{item.price}}</strong></h4>
          <button class="btn btn-success" routerLink= "/description/{{item.id}}">Buy it!</button>
      </div>
  </div>
  <div class="clearfix"></div>
</div>





