

<div class="container mt-5">
 <div class="photoHolder" *ngIf="book">
   <img src="{{book.img}}" alt="Cover book">
 </div>
  <div *ngIf="book" class="descriptionBook text-justify">
    <h2>{{book.title | uppercase}}</h2>
    <h4 class="autorColor">{{book.author}}</h4>
    <br>
    <p class="lineSmall"><strong>Isbn: </strong>{{book.isbn}}</p>
    <p class="lineSmall"><strong>Genero: </strong>{{book.genere}}</p>
    <p class="lineSmall"><strong>Precio: </strong>{{book.price}} €</p>
  </div>
  <div *ngIf="book" class="descriptionBook text-justify">
    <p class="mt-4"><strong>Descripción: </strong>{{book.description}}</p>
      <p></p>
    <button (click)="goBack()" class="btn text-white bg-dark float-left">Volver</button>
    <button class="btn text-white bg-success ml-2 float-right">Compra ya!</button>
  </div>
  <div class="clearFloat"></div>
</div>

