

<div class="container mt-5">
 <div class="photoHolder">
   <img src={{book.img}} alt="" srcset="">
 </div>
  <div *ngIf="book" class="descriptionBook text-justify">
    <h2>Titulo: {{book.title}}</h2>
    <h4>Autor{{book.author}}</h4>
    <p class="mt-4"><strong>Descripción:</strong>{{book.description}}</p>
      <p></p>
    <button (click)="goBack()" class="btn text-white bg-dark float-left">Volver</button>
    <button class="btn text-white bg-success ml-2 float-right">Compra ya!</button>
  </div>
  <div class="clearFloat"></div>
</div>

