/* You can add global styles to this file, and also import other style files */
body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 100%;
}

.autorColor{
  color: rgb(243,134,48);
}

img{
  width: 100%;
  
}
.borderLine{
  border: 1px solid red;
}

