
<div class="container">
        <h5 class="mt-5 mb-5 text-success totalCartFont " >Resumen de tu pedido:</h5>
        <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Filas</th>
                        <th scope="col">Libro</th>
                        <th scope="col">Título</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody >
                    <tr *ngFor="let list of listBooksCart; let i = index">
                        <th scope="row" >{{i+1}}</th>
                        <td><img src="{{list.img}}" class="cartBookSize" alt="cover"></td>
                        <td>{{list.title}}</td>
                        <td>{{list.price}}€</td>
                        <td>
                            <button class="btn text-white bg-danger" (click)="delete(i)">Quitar</button>
                        </td>
                    </tr>
                </tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td colspan="2" class="float-right totalCartFont text-success">TOTAL: </td>
                    <td class="text-succes totalCartFont text-success"> {{totalCart}}€</td>
                </tr>
            </table>
            <button class="btn bg-success text-white align-center" routerLink="/inicio">Seguir Comprando</button> 
            <p class="clearfix"></p>     
</div>



